* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 15px;
    font-family: MerriWeather;
}

div,
section,
ul,
li,
a,
header {
    box-sizing: border-box;
}


/*Css Reset*/

#header {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding: 10px 40px;
    margin-top: 0px;
    align-items: center;
    position: fixed;
    z-index: 999;
    background-color: white;
}

#navbar li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#navbar li a {
    color: #000;
    text-decoration: none;
    font-size: 17.5px;
    font-family: MerriWeather;
    text-transform: uppercase;
}

#navbar a:hover {
    color: #b62fd1;
    text-decoration: underline;
    font-size: 30px;
    font-family: MerriWeather;
    transition: all 0.55s;
    letter-spacing: 1.5px;
}

section {
    width: 100%;
    float: none;
    height: 100vh;
    position: relative;
}

#welcome {
    background-image: url('Logo/76826.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#about {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: MerriWeather;
    padding: 10px 40px;
}

#about img {
    width: 275%;
    height: 100%;
}

#about p {
    margin-left: 5em;
    font-size: 24.65px;
    word-spacing: 2px;
    color: black;
    justify-content: space-evenly;
}

#services {
    background-color: white;
    width: 100%;
    height: 101%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#welcome h1 {
    position: absolute;
    font-size: 38px;
    top: 35%;
    left: 37.5%;
    transform: translate(-78%, -50%);
    color: #fff;
    font-family: MerriWeather;
}

#welcome p {
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-79%, -20%);
    color: #fff;
    word-spacing: 8px;
    font-family: MerriWeather;
    font-size: 30px;
}

.card {
    width: 18.7%;
    height: 10%;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text";
    margin: 0.5rem;
    position: relative;
    font-family: MerriWeather;
    border-radius: 18px;
    background: #edeeef;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.9);
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
}

.card-image {
    grid-area: image;
    background: url('Logo/cloudcomputing.jpg');
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: contain;
}

.card-image2 {
    grid-area: image;
    background: url('Logo/Business.png');
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: contain;
}

.card-image3 {
    grid-area: image;
    background: url('Logo/cms.png');
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: contain;
}

.card-image4 {
    grid-area: image;
    background: url('Logo/bi.png');
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: contain;
}

.card-image5 {
    grid-area: image;
    background: url('Logo/ITS.png');
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: contain;
}

.card-text {
    grid-area: text;
    margin: 25px;
    text-align: inherit;
}

.card-text p {
    margin-top: 20px;
    margin-left: 0px;
    color: gray;
    font-size: 15px;
    font-weight: 900;
    text-align: left;
}

.card-text h2 {
    margin-top: 0px;
    font-size: 22px;
    text-align: justify;
    font-size: 1.3em;
    color: lightcoral;
    font-weight: 1200;
}

.card:hover {
    transform: scale(1.027);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    background-color: #f5f5f5;
}

#technologies {
    background-color: white;
    height: 132vh;
}

.container {
    display: grid;
    /* width: 100%; */
    /* height: 100vh; */
}

.java {
    width: 32%;
    height: 32%;
    align-items: center;
}

.column {
    float: left;
    width: 30%;
    height: 30%;
    padding: 0 10px;
}

.row1 {
    margin: 0 0;
}

.row1:after {
    content: "";
    display: table;
    clear: both;
}

.row2 {
    margin: 0 0;
}

.row2:after {
    content: "";
    display: table;
    clear: both;
}

.ColH1 {
    margin-top: 25px;
    /* text-transform: uppercase; */
    font-size: 20px;
    color: #FDA5A4;
}

.ColH2 {
    margin-top: 25px;
    /* text-transform: uppercase; */
    font-size: 20px;
    color: #000;
}

.ColH3 {
    margin-top: 25px;
    /* text-transform: uppercase; */
    font-size: 20px;
    color: #DD7564;
}

.Colp {
    margin-top: 25px;
    text-align: center;
    color: #2B394A;
    font-size: 18px;
}

.Colp3 {
    margin-top: 25px;
    text-align: center;
    color: #1FA5A6;
    font-size: 18px;
}

.Colp2 {
    margin-top: 25px;
    text-align: center;
    color: #D2AE90;
    font-size: 18px;
}

.cardt {
    margin-top: 10px;
    margin-left: 80px;
    align-items: center;
    padding: 16px;
    text-align: center;
    background-color: white;
}

.cardt:hover {
    transform: scale(1.027);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    transition: 0.5s ease;
    background-color: #f5f5f5;
}


/* .contact {
    background-color: #4383eb;
}

.contactfrom {
    width: 100%;
}

.h1con {
    padding-top: 30px;
    margin-left: 100px;
    text-align: center;
}

.formcontrol {
    text-align: center;
} */

.contact {
    height: 120vh;
    background: url(Logo/tim-durgan-WZxZvsxtV40-unsplash.jpg);
    background-size: cover;
}

.h3con {
    font-size: 40px;
    text-align: center;
}

input[type=text],
input[type=email],
input[type=tel],
select,
textarea {
    background: transparent;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
    cursor: pointer;
}

.container {
    margin-left: 200px;
    width: 70%;
    border-radius: 5px;
    background: transparent;
    align-items: center;
    background-size: cover;
    color: rgb(10, 5, 51);
    font-size: 20px;
}