*{
    margin: 0%;
    padding: 0%;
}
html{
    scroll-behavior: smooth;
}
body{
  font-size: 100%;
  font-family: sans-serif;  

}
div,section,ul,li,a,header{
    box-sizing: border-box;
}
/*Css Reset*/

header{ 
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;
    position: fixed;
    z-index: 999;
    background-color: white;
}
#navbar li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#navbar li a{
    color:#000;
    text-decoration: none;
    font-size: 20.5px;
    font-family:MerriWeather;
}
#navbar a:hover{
    color:#b62fd1;
    text-decoration: underline;
    font-size: 30px;
    font-family:MerriWeather;
    transition: all 0.55s;
    letter-spacing: 1.5px;
}
section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}

#welcome{
background-image: url('Logo/background-texture-natural-leaves-dark-green.jpg');
background-size:cover;   
}
#about{
    background-color: #323232;
}
#services{
    background-color: #0d7377;
}
#technologies{
    background-color: #14ffec;
}
#contact{
    background-color: #4383eb;
}
h1{
    position: absolute;
    font-size: 38px;
     top: 35%;
     left: 37.5%;
     transform: translate(-78%,-50%);
     color:#fff;   
     font-family:MerriWeather;
     
}
p{
    position: absolute;
     top: 55%;
     left: 45%;
     transform: translate(-79%,-20%);
     color:#fff;   
     word-spacing:8px;
     font-family:MerriWeather;
     font-size: 30px;
}