* {
    margin: 0%;
    padding: 0%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    font-family: sans-serif;
}

div,
section,
ul,
li,
a,
header {
    box-sizing: border-box;
}


/*Css Reset*/

#header {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding: 10px 40px;
    margin-top: 0px;
    align-items: center;
    position: fixed;
    z-index: 999;
    background-color: white;
}

#navbar li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#navbar li a {
    color: #000;
    text-decoration: none;
    font-size: 17.5px;
    font-family: MerriWeather;
    text-transform: uppercase;
}

#navbar a:hover {
    color: #b62fd1;
    text-decoration: underline;
    font-size: 30px;
    font-family: MerriWeather;
    transition: all 0.55s;
    letter-spacing: 1.5px;
}

section {
    width: 100%;
    float: none;
    height: 100vh;
    position: relative;
}

#welcome {
    background-image: url('Logo/background-texture-natural-leaves-dark-green.jpg');
    background-size: cover;
}

#about {
    width: 100%;
    /* background-image: url('Logo/nastuh-abootalebi-ZtC4_rPCRXA-unsplash.jpg'); */
    background-size: cover;
    display: flex;
    justify-content: space-between;
    font-family: MerriWeather;
    padding: 10px 40px;
}

#about img {
    width: 275%;
    height: 100%;
}

#about p {
    margin-left: 5em;
    font-size: 24.65px;
    word-spacing: 2px;
    color: black;
    justify-content: space-evenly;
}

#services {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#technologies {
    background-color: #14ffec;
}

#contact {
    background-color: #4383eb;
}

#welcome h1 {
    position: absolute;
    font-size: 38px;
    top: 35%;
    left: 37.5%;
    transform: translate(-78%, -50%);
    color: #fff;
    font-family: MerriWeather;
}

#welcome p {
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-79%, -20%);
    color: #fff;
    word-spacing: 8px;
    font-family: MerriWeather;
    font-size: 30px;
}

.card {
    width: 18.7%;
    height: 10%;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text";
    margin: 0.5rem;
    position: relative;
    font-family: MerriWeather;
    border-radius: 18px;
    background: #fff;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.9);
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
}

.card-image {
    grid-area: image;
    background: url('Logo/cloudcomputing.jpg');
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: contain;
}

.card-image2 {
    grid-area: image;
    background: url('Logo/Business.png');
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: contain;
}

.card-image3 {
    grid-area: image;
    background: url('Logo/cms.png');
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: contain;
}

.card-image4 {
    grid-area: image;
    background: url('Logo/bi.png');
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: contain;
}

.card-image5 {
    grid-area: image;
    background: url('Logo/ITS.png');
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: contain;
}

.card-text {
    grid-area: text;
    margin: 25px;
    text-align: inherit;
}

.card-text p {
    margin-top: 20px;
    margin-left: 0px;
    color: gray;
    font-size: 15px;
    font-weight: 900;
    text-align: left;
}

.card-text h2 {
    margin-top: 0px;
    font-size: 22px;
    text-align: justify;
    font-size: 1.3em;
    color: lightcoral;
    font-weight: 1200;
}

.card:hover {
    transform: scale(1.027);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}