* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 15px;
    font-family: MerriWeather;
}

div,
section,
ul,
li,
a,
header {
    box-sizing: border-box;
}


/*Css Reset*/


/* Header and Welcome*/

#header {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 0px;
    align-items: center;
    position: fixed;
    z-index: 999;
    padding: 0px 20px;
    background-color: white;
    height: 12%;
}

#navbar li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#navbar li a {
    color: #000;
    text-decoration: none;
    font-size: 17.5px;
    font-family: MerriWeather;
    text-transform: uppercase;
    font-weight: bold;
}

#navbar a:hover {
    color: rgba(43, 93, 126, 0.753);
    font-size: 20px;
    font-family: MerriWeather;
    transition: all 0.55s;
    letter-spacing: 2.0px;
}

#welcome h1 {
    position: absolute;
    font-size: 38px;
    top: 35%;
    left: 37.5%;
    transform: translate(-78%, -50%);
    color: #fff;
    font-family: MerriWeather;
    margin-left: -29px;
}

#welcome p {
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-79%, -20%);
    color: #fff;
    word-spacing: 8px;
    font-family: MerriWeather;
    font-size: 30px;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 1px;
}

#welcome {
    background-image: url('Logo/76826.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


/* Section Reset */

section {
    width: 100%;
    float: none;
    height: 100vh;
    position: relative;
}


/* About Section */

#about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-section {
    background: url(Logo/mohammadreza-alidoost-joQdhwKZlJE-unsplash.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container {
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 65px;
}

.inner-container h1 {
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 900;
}

.text {
    font-size: 18px;
    margin-bottom: 13px;
    color: #363636;
    line-height: 25px;
    text-align: justify;
}

.skills {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
}


/* Services Section */

#services {
    background-color: rgb(243, 243, 237);
    width: 100%;
    height: 115vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card {
    margin-top: 100px;
    width: 18.9%;
    height: 66.5%;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text";
    margin: 0.5rem;
    position: relative;
    font-family: MerriWeather;
    border-radius: 18px;
    background: #edeeef;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.9);
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
}

.card-image {
    grid-area: image;
    background: url('Logo/cloudcomputing.jpg');
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: contain;
}

.card-image2 {
    grid-area: image;
    background: url('Logo/Business.png');
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: contain;
}

.card-image3 {
    grid-area: image;
    background: url('Logo/cms.png');
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: contain;
}

.card-image4 {
    grid-area: image;
    background: url('Logo/bi.png');
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: contain;
}

.card-image5 {
    grid-area: image;
    background: url('Logo/ITS.png');
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: contain;
}

.card-text {
    grid-area: text;
    margin: 25px;
    text-align: inherit;
}

.card-text p {
    margin-top: 20px;
    margin-left: 0px;
    color: gray;
    font-size: 15px;
    font-weight: 900;
    text-align: left;
}

.card-text h2 {
    margin-top: 0px;
    font-size: 22px;
    text-align: justify;
    font-size: 1.3em;
    color: lightcoral;
    font-weight: 1200;
}

.card:hover {
    transform: scale(1.027);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    background-color: #f5f5f5;
}


/* Technologies Section*/

#technologies {
    background-color: white;
    height: 150vh;
}

.container {
    display: grid;
}

.java {
    width: 32%;
    height: 32%;
    align-items: center;
}

.column {
    float: left;
    width: 30%;
    height: 30%;
    padding: 0 10px;
}

.row1 {
    padding-top: 73px;
}

.row1:after {
    content: "";
    display: table;
    clear: both;
}

.row2 {
    margin: 0 0;
    padding-top: 30px;
}

.row2:after {
    content: "";
    display: table;
    clear: both;
}

.ColH1 {
    margin-top: 25px;
    /* text-transform: uppercase; */
    font-size: 20px;
    color: #FDA5A4;
}

.ColH2 {
    margin-top: 25px;
    font-size: 20px;
    color: #000;
}

.ColH3 {
    margin-top: 25px;
    font-size: 20px;
    color: #DD7564;
}

.Colp {
    margin-top: 25px;
    text-align: center;
    color: #2B394A;
    font-size: 18px;
    font-weight: bold;
}

.Colp3 {
    margin-top: 25px;
    text-align: center;
    color: #1FA5A6;
    font-size: 18px;
    font-weight: bold;
}

.Colp2 {
    margin-top: 25px;
    text-align: center;
    color: #8d3f00;
    font-size: 18px;
    font-weight: bold;
}

.cardt {
    margin-top: 10px;
    margin-left: 80px;
    align-items: center;
    padding: 16px;
    text-align: center;
    background-color: white;
}

.cardt:hover {
    transform: scale(1.027);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    transition: 0.5s ease;
    background-color: #f5f5f5;
}


/* Contact Us Section */

#contact {
    height: 105vh;
    background: url(Logo/ryan-klaus-VeGfXKMrDZk-unsplash.jpg);
}

.container {
    width: 80%;
    margin: 50px;
}

.contactbox {
    background: #fff;
    display: flex;
    margin-left: 198px;
    margin-top: 110px;
}

.contact-left {
    flex-basis: 100%;
    padding: 40px;
}

.inputr-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.inputr-row .input-group {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #1c00b5;
    font-size: 20px;
}

button {
    background: #1c00b5;
    width: 10%;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}

button:hover {
    background: #030013;
    color: white;
    transition: 0.2s ease;
    transform: scale(1.09);
}

.contact-left h3 {
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 50px;
    font-family: MerriWeather;
    font-size: 30px;
}

.search_categories {
    font-size: 13px;
    padding: 10px 8px 10px 14px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.search_categories .select {
    width: 110%;
}

.search_categories .select select {
    background: transparent;
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 0;
    width: 120%;
    position: relative;
    z-index: 10;
    font-size: 1em;
    outline: none;
    text-align: center;
}